[alias]
	lg = log --oneline --decorate --graph --all
	co = checkout
	br = branch
	ci = commit
	st = status
	cp = cherry-pick
[user]
	name = Nikita Semenov
	email = nasemenov726@gmail.com
[core]
	editor = vim
