[alias]
	lg = log --oneline --decorate --graph --all
	co = checkout
	sw = switch
	br = branch
	ci = commit
    st = status -sbu
	cp = cherry-pick
	cpn = "!f() { git cherry-pick -n $1 && git commit -m \"cp [$1] $(git log --format=%B -n 1 $1 | head -n 1)\"; }; f"
	fe = fetch -v
[user]
	name = Nikita Semenov
	email = nasemenov726@gmail.com
[core]
	editor = vim
	safecrlf = false
[pull]
	rebase = false
[safe]
	directory = /home/nisemenov/Dev/misc/teledep
	directory = /mnt/c/Users/Никита/Documents/obsidian/bot
[init]
	defaultBranch = main
